
<p>
  <strong>Creator:</strong>
  <%= u_name %>
</p>

<!-- ATTENDANCE FORM BEGIN -->
<%= form_with(model: @attendance, url: "/confirm_attendance", method: :post) do |form| %>
  <% if @attendance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attendance.errors.count, "error") %> prohibited this event attendance from being saved:</h2>

      <ul>
        <% @attendance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    
    <%= form.number_field :attended_event, value: @event.id, class: 'form-control'%>
    <%= form.number_field :attendee, value: current_user.id, class: 'form-control' if current_user %>
    
  <div class="actions">
    <%= form.submit 'Attend this Event',class: 'btn btn-success' if current_user %>
  </div>
  <% end %>


<!-- ATTENDANCE FORM END -->



<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
